	
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: var(--font-lineal2);
    line-height: 1.6;
    background-color: var(--beige);
    text-decoration: none;
 
  }
  
h1 {

    font-family: var(--font-lineal);
    font-weight: normal;
    line-height: 1.6;
    padding: var(--space3x);
    font-size: var(--mobile-xxl);

  }
 
h2 {
  font-family: var(--font-lineal2);
  font-size: var(--mobile-l);
  font-weight: normal;
  color: var(--gris);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
 
}

h3 {
  font-weight: bold;
  font-size: var(--mobile-lm);


}
h4 {

  display: flex;
  justify-content: center;
  color: var(--gris);
  font-weight: bold;
}
h5 {
  display: flex;
  justify-content: center;
  font-family: var(--font-lineal);
  font-size: var(--mobile-sm);
  font-weight: normal;
  text-decoration: none;
}

#trait_dessus
{
border-top: 2px solid #fff;
width : 375px;
} 

.iconeall {
  display: flex;
  justify-content: center;
}
.iconeall img {
  width: 70px;
  height: 70px;
  margin-top: -1.25rem;
  margin-bottom: 1.25rem;
}

.line_green {
  position: absolute;
  background-color:var(--green);
width: 37px;
height: 340px;
left: 361px;
top: 789px;
}
.line_green1 {
position: absolute;
background-color:var(--green);
width: 37px;
height: 340px;
left: 360px;
top: 582px;

}
.line_green2 {
position: absolute;
background-color:var(--green);
width: 37px;
height: 340px;
left: 360px;
top: 1800px;
}