	
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: var(--font-lineal2);
    line-height: 1.6;
    background-color: var(--beige);
    text-decoration: none;
 
  }
  
h1 {

    font-family: var(--font-lineal);
    font-weight: normal;
    line-height: 1.6;
    padding: var(--space3x);
    font-size: var(--mobile-xxl);

  }
 