.footer {
    background-color: var(--gris);
    color: var(--white);
    margin-top:30px;
  }

.footer__nom {
  display: flex;
  justify-content: center;
  font-weight: normal;
  padding-top:10px;
  margin-bottom:10px;
  font-size: var(--mobile-xs);
  font-family: var(--font-lineal);

}
.footer__mail {
  display: flex;
  justify-content: center;
  font-weight: normal;
  margin-top:10px;
  text-decoration: none;
  font-size: var(--mobile-xs);
  font-family: var(--font-lineal);
  color: white;

}

.footer__linkedin img{
    height: 28px;
    width: 25px;
}
.footer__linkedin {
  padding: 10px;
  position:absolute;


}
.footer__mentions-legales{
  font-size: var(--mobile-s);
  font-family: var(--font-lineal);
  margin-bottom :20px;
  padding-bottom: 20px;
  text-align: center;

}
.footer__mentions-legales a{ 
  color:white;

}

#trait_green {
  border: 0.5px solid var(--green);
  width: 180px;
  text-align: center;

}