.contact__intro {
    font-size: var(--mobile-m);
    color:var(--gris);
    display: block;
    margin-left: 2.188rem;
    margin-right: 2.188rem;
    margin-bottom: 2.188rem;

}
.contact__block {
    background-color: white;
    padding:2.5rem;
    margin-bottom: 4.688rem;
}

.contact__groupe{
    margin-bottom: 1.25rem;

}

form .contact__groupe label {
    font-size: var(--mobile-lm);
    color: var(--gris);
    font-family: var(--font-lineal);

}

form .contact__groupe input {
    background-color: var(--brown);
    border-radius: 0.625rem;
    padding:0.625rem;
    width:290px;
    border:none;
}

form .contact__groupe textarea {
    background: var(--brown);
    border-radius:0.625rem;
    width: 290px;
    border:none;
}

form .pied-formulaire button {
    display: block;
    margin-top: 1.875rem;
    background-color:gainsboro;
    text-transform: uppercase;
    font-family: var(--font-lineal);
    border-radius: 0.625rem;
    border:none;
    padding:0.938rem;
    font-weight: bold;
    font-size:18px;
    color:white;
    
}