.header{
    background-color: var(--green);

    
}
.headerpurple{
    background-color: var(--lavender);
    display : flex;
    justify-content: space-between; 

}
.headerred{
    background-color: var(--soft-red);
    display : flex;
    justify-content: space-between; 
}
.header__titre{
    margin:0;
}
.header__titre a{
    color : var(--white);
    text-decoration: none;
}

.tagline {
    display: flex;
    justify-content: center;
    font-size: var(--mobile-lm);
    color: var(--gris);

}
.intro {
    display: flex;
    justify-content: center;
    color: var(--gris);
}
/*PROPRIETES CSS POUR LE HEADER*/
