
/*PROPRIETES POUR CHAQUE IMAGES D'ARTICLES*/

.article__image{
    text-align: center;
}

.article__image img {
    height: 202px;
    width: 279px;
}
.article__image2{
    text-align: center;
}
.article__image2 img {
    height: 167px;
    width: 297px;
}
.article__image3{
        text-align: center;
 }
.article__image3 img {
        height: 157px;
        width: 280px;

}
.article__image4{
            text-align: center;
 }
.article__image4 img {
            height: 194px;
            width: 291px;

}
.article__image5{
 text-align: center;
}
.article__image5 img {
 height: 201px;
 width: 301px;

}
.article__image6{
 text-align: center;
}
.article__image6 img {
 height: 318px;
 width: 239px;
    
}
.article__legende{
    display: flex;
    justify-content: center;
    font-size: var(--mobile-s);
    color:var(--gris);
    margin-top: 0rem;
}

/*GLOSSAIRE*/
.definition {
color: var(--gris)
}
    
 .definition__term {
 font-weight:bold;
display: inline;
 margin-left: 2.5rem;
 font-family: var(--font-lineal2);
     
 }
    
.definition__description {
display: block;
margin-top: 0.188rem;
margin-right: 1.875rem;
margin-bottom: 1.875rem;
font-family: var(--font-lineal2)
}

/*A PROPOS*/

.block {
    background-color: var(--soft-red);
}

.iconegirl img {
    width: 144px;
    height: 144px;
}
.iconegirl {
    display: flex;
    justify-content: center;
    margin-top: 1.563rem;
    margin-bottom: 2.5rem;
}

.block__text {
    color: var(--white);
    font-family: var(--font-lineal2);
}
.block__text {
    display: block;
    text-align: left;
    margin-left: 2.188rem;
    margin-right: 2.188rem;
}

.block__outro{
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
    color: var(--gris);
}
.block__outro a {
    text-decoration: none;
    color: var(--gris);
    font-weight: bold;
}

/*GALLERY*/

.picturegallery {
    display: flex;
    justify-content: center;
}
.introgallery {
    display: flex;
    justify-content: center;
    margin-bottom: 3.125rem;
    margin-left: 1.875rem;
    margin-right:1.875rem;
    color:var(--gris);

}

.textgallery {
    text-align: left;
    margin-left: 2.813rem;
    margin-right: 2.813rem;
    color:var(--gris);
    margin-bottom: 3.125rem;
}
.textgallery a {
    color:var(--grey);
    font-weight: bold;
}
.legendgallery {
    text-align: center;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

/*AUTRES PROJETS*/

.textwebsite {
    display: flex;
    justify-content: center;
    color: var(--gris);
    margin-bottom: 2.188rem;
    margin-left: 1.875rem;
    margin-right:1.875rem;
    font-size: var(--mobile-m);
}
.project__img{
    display: flex;
    justify-content: center;
}
.project__img img {
    width: 80px;
    height: 80px;
}
.project__text1 {
    display: flex;
    justify-content: center;
    font-size: var(--mobile-m);
    margin-top: 0.313rem;
    color: var(--gris);
}
.project__text2 {
    display: flex;
    justify-content: center;
    font-size: var(--mobile-m);
    color: var(--gris);
    margin-top: -1.25rem;
    margin-bottom: 2.813rem;
}
