.article__title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left:1.875rem;
    margin-right:1.875rem;
    font-size: var(--mobile-l);

}

.article__intro {
    display: block;
    margin-left: 2.188rem;
    margin-right:1.875rem;
    margin-bottom: 1.25rem;
    font-size: var(--mobile-m);
    color:var(--gris);
}

.article__intertitre {
    display: flex;
    justify-content: center;
    margin-top:2.188rem;
    margin-bottom:1.875rem;
    font-size:18px;
    color: var(--gris);

}
.article__content {
    display: block;
    font-size:var(--mobile-m);
    margin-left:2.188rem;
    margin-right:1.875rem;
    margin-bottom:1.25rem;
    color:var(--gris);

}

