.block {
    background-color: var(--soft-red);
}

.iconegirl img {
    width: 144px;
    height: 144px;
}
.iconegirl {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.block__text {
    color: var(--white);
    font-family: var(--font-lineal2);
}
.block__text {
    display: block;
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
}

.block__outro{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--gris);
}
.block__outro a {
    text-decoration: none;
    color: var(--gris);
    font-weight: bold;
}