.accueilbutton{
    display: flex;
    justify-content: center;
}
.rectangle2 {
    display: flex; 
    justify-content: center;
    margin-bottom:1.875rem;
    margin-top:1.25rem;
}

.article__next  a{
    font-size: var(--mobile-m);
    text-decoration: none;
    color:white;
    font-weight: 400;
    background-color: var(--soft-red);
    padding:10px;
    border-radius: 10px;

}
.article__next {
    margin-top:30px;
    margin-bottom: 50px;
    text-align:center
}