.accueilbutton{
    display: flex;
    justify-content: center;
}
.rectangle2 {
    display: flex; 
    justify-content: center;
    margin-bottom:1.875rem;
    margin-top:1.25rem;
}

.article__next  a{
    font-size: var(--mobile-m);
    text-decoration: none;
    color:white;
    font-weight: 400;
    background-color: var(--soft-red);
    padding:0.625rem;
    border-radius: 0.625rem;

}
.article__next {
    margin-top:1.875rem;
    margin-bottom: 3.125rem;
    text-align:center
}

.apropos__button a {
    font-size:var(--mobile-m);
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-weight:400;
    background-color:var(--soft-red);
    padding:0.625rem;
    border-radius:0.625rem;

}
.gallerie__button a {
    font-size:var(--mobile-m);
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-weight:400;
    background-color:var(--soft-red);
    padding:0.625rem;
    border-radius:0.625rem;


}

.index__button {
    display: flex;
    justify-content:space-around;
    margin-top: 2.5rem;
    margin-bottom:3.75rem;


}