
.picturegallery {
    display: flex;
    justify-content: center;
}
.introgallery {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right:30px;
    color:var(--gris);

}

.iconegallery {
    display: flex;
    justify-content: center;
}
.iconegallery img {
    width: 70px;
    height: 70px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.textgallery {
    text-align: left;
    margin-left: 45px;
    margin-right: 45px;
    color:var(--gris);
    margin-bottom: 50px;
}
.legendgallery {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

/*    margin-bottom: 30px;
    margin-top: -10px; 
*/
