
.intro{
    display: block;
    justify-content: center;
    margin-top:2.188rem;
    margin-left: 2.188rem;
    margin-right: 2.188rem;
}
.article1 img{
    height: 153px;
    width: 298px;

}

.article1{
    display: flex;
    justify-content: center;
}
.article2 img{
    height: 166px;
    width: 298px;

}

.article2{
    display: flex;
    justify-content: center;
}
.article3 img{
    height: 148px;
    width: 298px;

}

.article3{
    display: flex;
    justify-content: center;
}
.introarticles{
    display: block;
    justify-content: center;
    margin-left: 2.188rem;
    margin-right: 2.188rem;
    margin-bottom:2.188rem;
    font-size: var(--mobile-m);
    font-weight: normal;
    color: var(--gris);

}

.article1text {
    display: flex;
    justify-content: center;
}

